@{
    Layout = "_Layout_Admin";
}
<form asp-action="GetNhomNganh">
    <input type="submit" class="btn btn-warning" value="Crawling Branch Data" />
</form>
<form asp-action="GetNganh">
    <input type="submit" class="btn btn-warning" value="Lấy ds ngành" />
</form>
